
<div class="container-fluid">
	<div class="row">
	<div class="col-sm-1 col-md-1 sidebar">
				<a href="/"><i class="fa fa-home fa-2x icn"></i></a>
    </div>
		<div class="col-md-8 col-md-offset-1">
			<h2 class="soon">None Currently Available.<br>Please Check Back!</h2>
		</div>
		<div class="col-md-6 col-md-offset-3 gif">
			<img src="images/200.gif" alt="HTML5 Icon">
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<div class="col-md-10 col-md-offset-1 page-header">
		<h4>Don't see what you're looking for?</h4>
		<div class="center-btn"><a href="/"><button class="btn btn-default" id="blue">Check out some of the other streets in the neighborhood.</button></a></div>
	</div>
</div>
</div>