<div class="container-fluid swatch-white">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header-2">
						<h1 class="section-header-2">HEMENWAY STREET</h1>
					</div>
					<div class="col-md-4 col-md-offset-1">
					</div>
					<div class="col-md-4 col-md-offset-1 section-body">
						<img src="../images/hemenway.png">
					</div>
				</div>
			</div>
		</div>