<div class="container-fluid swatch">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h1 class="section-header">GAINSBOROUGH STREET</h1>
						<h2>Gainsborough Street has evolved into one of the most desirable streets in the Fenway.</h2> <h4>With it's well maintained exterior and nicely landscaped front entrances, walking down the street is a beautiful sight for a crowded city. </h4>
					</div>
					<div class="col-md-5 col-md-offset-1 section-body">
						<div class="section-img"><img src="../images/gains.png"></div>	
					</div>
					<div class="col-md-5 icons">
					<div class="section-text">
						<p><span class="bold">Features</span>:  24/7 Security. Whether you're locked out of your apartment or there is an emergency, security will be there with a phone call.</p>
						<p>Daily trash pick up. Residents of Gainsborough Street can place their trash on the sidewalk outside their building from 7:00am to 10:00am for removal, 7 days a week.</p>
						<p>Package pickup. While there is no concierge service in these buildings, it certainly seems it! Have your package delivered to your home address, and the major package carriers deliver to the main office on Huntington Ave. No signing required, don't have to wait around for UPS, and packages aren't left in the foyer asking to be stolen! The office puts a slip on your mailbox, and you can go pick it up at your convenience.</p>
						<p><span class="bold">Tips:  </span>
						Looking for average cost of electric bill? Call NSTAR, say "service", and give the operator the address. They will provide average, high, and low for the specified unit.
						Don't put your trash out after the 7:00am-10:00am window, fines will be assessed.</p>
						</div>				
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="section-text">
						<div class="col-md-3 col-md-offset-1">
						<div class="center-btn ten"><i class="fa fa fa-check fa-5x"></i></div>
						<div class="center-btn ten"><span class="bold">Details</span></div>
						<ul class="section-list">
							<li>Heat Source: Electric</li>
							<li>Elevators: Yes</li>
							<li>Central Air/Heat: Yes</li> 
							<li>Intercom: Yes</li>
							<li>Laundry: On Site or In Unit</li>
							<li>Parking: Residential Permit</li>
						</ul>
						</div>
						<div class="col-md-4">
						<div class="center-btn ten"><i class="fa fa fa-mobile fa-5x"></i></div>
						<div class="center-btn ten"><span class="bold">Contacts</span></div>
						<ul section="section_list">
							<li>Electric Company: NSTAR (800) 592-2000</li>
							<li>Cable/Internet: Xfinity (800)-934-6489</li>
							<li>Gainsborough Security: (617)-424-8619</li>
							<li>Gainsborough Management: (617)-236-0090</li>
						</ul>
						</div>
						<div class="col-md-3">
						<div class="center-btn ten"><i class="fa fa-building-o fa-5x"></i></div>
						<div class="center-btn ten"><span class="bold">The Buildings</span></div>
						<ul class="section_list">
							<li>78-84 Gainsborough Street</li>
							<li>90-96 Gainsborough Street</li>
							<li>102-108 Gainsborough Street</li>
							<li>79-87 Gainsborough Street</li>
							<li>95-105 Gainsborough Street</li>
							<li>111 Gainsborough Street</li>
						</ul>
					 </div>
					 <p class="center-btn"><a class="btn btn-default trans" href="/gainsborough" role="button">View Listings »</a></p>
					</div>
				</div>
			</div>
		</div>