<div class="container-fluid swatch3">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h1 class="section-header">SYMPHONY ROAD</h1>
						<div class="lefty"><h4>Symphony Road has turned into one of the most desirable streets in the Fenway mostly because of its charm and location. For Northeastern, Berklee, NEC, BoCo, MCPHS, and Wentworth, Symphony Road is a short walk away. Also close by is some of the best shopping in the world on Newbury St & the Pru, and some of the greatest bars/restaurants in the city. From townhouses, to condos & apartments, Symphony Road offers a wide variety of accommodations. </h4></div>
					</div>
					<div class="col-md-5 col-md-offset-1 section-body">
						<img src="../images/symphony.png">
					</div>
					<div class="col-md-4 icons">
							<div class="section-text">	
							<ul class="section-list" style="padding-left: -10px;">
							<span class="bold">Points of Interest:</span>
								<li>Fenway Park || Symphony Hall</li>
								<li>Fenway Colleges (Northeastern, Berklee, MCPHS, Wentworth, NEC, BoCo, Simmons, Emmanuel, BU, and more!)</li>
								<li>Kenmore Square // Newbury St</li>
								<li>Whole Foods || Star Market || Trader Joes</li>
								<li>Green Line (B, C, D, E) // Orange Line (Mass Ave, Ruggles)</li>
								<li>Commuter Line (Fenway, Ruggles)</li>
								<li>Walking distance to Back Bay, South End, and Copley</li>
								<li>Cool/Hip Restaurants and Bars</li>	
							</ul>
						</div>			
					</div>
					</div>
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="section-text">
						<div class="col-md-4">
						<div class="center-btn ten"><i class="fa fa fa-check fa-5x"></i></div>
						<div class="center-btn ten"><span class="bold">Details</span></div>
						<ul class="section-list">
							<li>Heat Source: Varies- Steam, Gas, Electric</li>
							<li>Elevators: No</li>
							<li>Central Air/Heat: Varies</li> 
							<li>Intercom: Mostly Yes</li>
							<li>Laundry: On Site or In Unit Mostly</li>
							<li>Parking: Residential Permit</li>
						</ul>
						</div>
						<div class="col-md-4">
						<div class="center-btn ten"><i class="fa fa fa-mobile fa-5x"></i></div>
						<div class="center-btn ten"><span class="bold">Contacts</span></div>
						<ul section="section_list">
							<li>Electric Company: NSTAR (800) 592-2000</li>
							<li>Cable/Internet: Xfinity (800)-934-6489</li>
						</ul>
						</div>
						<div class="col-md-4">
						<div class="center-btn ten"><i class="fa fa-money fa-5x"></i></div>
						<div class="center-btn ten"><span class="bold">Tips</span></div>
						<ul class="section_list">
							<li>Looking for average cost of electric bill? Call NSTAR, say "service", and give the operator the address. They will provide average, high, and low for the specified unit.</li>
							<li>Make sure you put your trash in the designated trash bin for your apartment. The city will assess fines if trash is incorrectly disposed of.</li>
						</ul>
					 	</div>
					</div>
				</div>
			<div class="center-btn">
				<a class="btn btn-default trans" href="/symphony" role="button" style="margin: 6px;">View Listings »</a>
			</div>
		</div>
	</div>
	