<body>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h2 class="soon">Coming Soon!</h2>
		</div>
		<div class="col-md-6 col-md-offset-1 gif">
			<img src="images/200.gif" alt="HTML5 Icon>
		</div>	
	</div>

</body>
