<body>
	<div class="container-fluid">
		<div class="row strings">
			<div class="col-sm-1 col-md-1 sidebar">
				<a href="/"><i class="fa fa-step-backward fa-2x icn"></i></a>
        	</div>
			<div class="col-sm-10 col-md-10">
			
				<div class="page-header">
					<h1 class="page-header">HEMENWAY ST.</h1>
					<h4>Hemenway Street Rentals, Sales, and Everything you need to know about Hemenway Street</h4>
					<div class="center-btn"><button id="blue" class="btn btn-info-outline more">More about Hemenway
					</button></div>
					<div class="about">
						<h3>About Hemenway Street Coming Soon!</h3>
					</div>
						<div class="right-align">
							<ul>
								<li>
									<button id="blue" type="button" class="btn btn-info-outline active">Rentals</button> | <a href="hemenway_sales"><button id="blue" type="button" class="btn btn-info-outline">
									Sales
									</button></a>
								</li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
			

				
		{{> listemp}}
	
	</div><!-- end container-fluid -->

</body>



