<!DOCTYPE html>

<html>
	<head>
		<title>Apartments</title>
	</head>
<body class="color">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-offset-1 col-md-6 col-sm-12 col-xs-12  heading">
					<h1><span class="name">A</span> <span class="name2">GUIDE TO</span> <span class="tall">FENWAY</span> <span class="long">LIVING</span></h1>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-2 from-top">
					<ul>
						<li>
						<a class="typeform-share btn btn-primary outline btn-lg" href="https://ghostwriteio.typeform.com/to/QCDIPG" data-mode="1" target="_blank">Contact</a></li>
						<a href="/featured"><li><button type="button" class="btn btn-primary outline btn-lg">Featured Listings</button></li></a>
					</ul>
				</div>
			</div>
		</div><!--close container-->
	</div><!--close jumbotron-->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="section-header-2">
						<h1 class="section-header-2">MOST POPULAR STREETS</h1>
					</div>
				</div>
				<div class="col-xs-12 col-md-3 placeholder">
				<p></p>	
				
				<div class="thumb">
					<img class="img-responsive circle" src="../images/gains.png">
				</div>	
				<a href="/gainsborough" class="trans"><h3 class="left">GAINSBOROUGH ST.</h3></a>
				<p class="margin"><a class="btn btn-default trans" href="/gainsborough" role="button">View Listings »</a></p>	
			</div>
			<div class="col-xs-12 col-md-3 placeholder">
				
				<p></p>
				
				<div class="thumb">
					<img class="img-responsive circle" src="../images/steph.png">
				</div>
				<a href="/stephen" class="trans"><h3 class="left">SAINT STEPHEN ST.</h3></a>
				<p class="margin"><a class="btn btn-default trans" href="/stephen" role="button">View Listings »</a></p>
			</div>
			<div class="col-xs-12 col-md-3 placeholder">
				
				<p></p>
				
				<div class="thumb">
					<img class="img-responsive circle" src="../images/symphony.png">
				</div>
				<a href="/symphony" class="trans"><h3 class="left">SYMPHONY ROAD</h3></a>
				<p class="margin"><a class="btn btn-default trans" href="/symphony" role="button">View Listings »</a></p>
			</div>
			<div class="col-xs-12 col-md-3 placeholder">
				
				<p></p>
				
				<div class="thumb">
					<img class="img-responsive circle" src="../images/hemenway.png">
				</div>
				<a href="/hemenway" class="trans"><h3 class="left">HEMENWAY ST.</h3></a>
				<p class="margin"><a class="btn btn-default trans" href="/hemenway" role="button">View Listings »</a></p>
			</div>
				
			</div>
		</div>
		{{> short}}
		{{> short_2}}
		{{> short_3}}
		{{> short_4}}

	</body>

<!-- Modal -->

    	{{> email}}
      
    <footer style="text-align: center;">
    <p>All Rights Reserved. Thanks!</p>
    </footer>

</html>







