<!DOCTYPE html>

<html>
	<head>
		<title>Apartments</title>
	</head>
<body class="color">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-offset-1 col-md-6 col-sm-5 col-xs-10  heading">
					<h1><span class="name">MIKE</span> <span class="name2">PEERLESS</span> <span class="tall">BOSTON</span> <span class="long">REALTY</span></h1>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-offset-2 col-xs-2 from-top">
					<ul>
						<li>
						<a class="typeform-share btn btn-primary outline btn-lg" href="https://ghostwriteio.typeform.com/to/QCDIPG" data-mode="1" target="_blank">Contact</a></li>
						<a href="/featured"><li><button type="button" class="btn btn-primary outline btn-lg">Featured Listings</button></li></a>
					</ul>
				</div>
			</div>
		</div><!--close container-->
	</div><!--close jumbotron-->
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-md-3 placeholder">
				_______________________________
				<a href="/gainsborough" class="trans"><h4>GAINSBOROUGH ST.</h4></a>
				<p></p>	
				<p><a class="btn btn-default trans" href="/gainsborough" role="button">View details »</a></p>		
			</div>
			<div class="col-xs-10 col-md-3 placeholder">
			_______________________________
				<a href="/stephen" class="trans"><h4>STEPHEN ST.</h4></a>
				<p></p>
				<p><a class="btn btn-default trans" href="/stephen" role="button">View details »</a></p>
			</div>
			<div class="col-xs-10 col-md-3 placeholder">
			_______________________________
				<a href="/symphony" class="trans"><h4>SYMPHONY ST.</h4></a>
				<p></p>
				<p><a class="btn btn-default trans" href="/symphony" role="button">View details »</a></p>
			</div>
			<div class="col-xs-10 col-md-3 placeholder">
			_______________________________
				<a href="/hemenway" class="trans"><h4>HEMENWAY ST.</h4></a>
				<p></p>
				<p><a class="btn btn-default trans" href="/hemenway" role="button">View details »</a></p>
			</div>
				
			</div>
		</div>

	</body>

<!-- Modal -->

    	{{> email}}
      

</html>







