<body>
	<div class="container-fluid">
		<div class="row strings">
			<div class="col-sm-1 col-md-1 sidebar">
				<a href="/"><i class="fa fa-home fa-2x icn"></i></a>
        	</div>
			<div class="col-sm-10 col-md-10">
			
				<div class="page-header">
					<h1 class="page-header">SAINT STEPHEN ST.</h1>
					<h4>Saint Stephen Street Rentals, Sales, and Everything you need to know about Saint Stephen Street</h4>
					<div class="center-btn"><button id="blue" class="btn btn-info-outline more-st">More about Saint Stephen
					</button></div>
					<div class="about">
						{{> short_2}}
					</div>
						<div class="right-align">
							<ul>
								<li>
									<button id="blue" type="button" class="btn btn-info-outline active">Rentals</button> | <a href="stephen_sales"><button id="blue" type="button" class="btn btn-info-outline">
									Sales
									</button></a>
								</li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
				
		{{> listemp}}
	</div><!-- end container-fluid -->

</body>