
@media only screen and (min-width : 320px) {

       .jumbotron {
        background: url('../images/boston-blue.png') no-repeat center center;
        background-size: cover!important;
        }

        .from-top {
            margin-top: 25%;
        }
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

        .jumbotron {
        background: url('../images/boston-blue.png') no-repeat center center;
        background-size: cover!important;
        }

        .from-top {
            margin-top: 25%;
        }

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .jumbotron {
        background: url('../images/boston-blue.png') no-repeat center center;
        height: 85%;
        position: relative;
        width: 100%;
        overflow: hidden;
        }
    

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .jumbotron {
        background: url('../images/street_1.png') no-repeat center center;
        height: 85%;
        position: relative;
        width: 100%;
        overflow: hidden;
        }
    

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    .jumbotron {
        background: url('../images/street_1.png') no-repeat center center;
        height: 85%;
        position: relative;
        width: 100%;
        overflow: hidden;
        }
    
    }

.carousel-inner img {
    max-height: 400px; 
}

#blue {
    background-color: #000080;
    color: white;
}


.btn-primary.outline {
    color: #ffffff;
}

.left {
    text-align: left; 
}

.placeholder {
    color: #816687;
}

.placeholder a {
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
}

a:link {
    color: #816687;
}

a:visited {
    color: #816687;
}

a:active {
    color: #000;
}


.color {
	background: #F0F0F0; /* fallback for old browsers */
}

.page-header h1 {
    font-size: 4em; 
    text-align: center; 
    color: #404040;
 
}

.page-header h4 {
    text-align: center; 
}

.center-btn {
    text-align: center; 
}


h3 {
	text-align: center;
	font-family: 'Montserrat', sans-serif; 
	margin-top: -10px;
}


.page-header {
	
	font-family: 'Montserrat', sans-serif; 
}

.heading {
	font-family: 'Palanquin Dark', sans-serif;
	font-weight: semi-bold; 
	color: #fff;
    margin-top: 90px; 

}

.name {
	font-size: 1.2em; 
	letter-spacing: 40px;
	font-weight: normal;  
}
.name2 {
    font-size: 1.2em; 
	letter-spacing: 10px;
	font-weight: normal;  
}

.tall {
	font-size: 2em; 
	font-weight: bold; 

}

.long {
	letter-spacing: 20px;
	font-size: 1.5em; 
	font-weight: normal;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn-primary.outline:focus, .btn-primary.outline:active:focus, .btn-primary.outline.active:focus {
    outline: 0 none;
}


.btn.outline {
    background: none;
    padding: 12px 22px;
    border-width: 5px; 
}

.btn-primary.outline {
    border-color: #ffffff; 
    color: none;
}
 
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    background: #506ec8;
    border-color: #ffffff; 
}
 
.btn-primary.outline:active, .btn-primary.outline.active {
    background: #fff;
    box-shadow: none;
}

ul {
	list-style: none; 
	text-align: left; 
	font-weight: 1.5em; 
}

ul li {
	margin: 15px;
}

.from-top {
	margin-top: 12%;
}

.right-align ul {
	text-align: right; 
}


.back-button {
	text-align: right; 
}

.bordered img {
	border-radius: 15px; 
	height: 50%;
	width: 80%;
    
}

.item img {
    border-radius: 15px; 
    height: 100%;
    width: 100%; 
    text-align: center; 
}

.desc {
    font-family: 'Lora', serif;
    font-size: 1.2em; 
    color: #000;
}

.bordered {
  border-style: solid;
  border-color: #FAFAFA; 
  border: 0;
  padding-top: 10px; 
  height: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#preloader_4 {
    text-align: center; 
}

#preloader_4{
    position:relative;
}
#preloader_4 span{
    position:absolute;
    width:20px;
    height:20px;
    background:#3498db;
    opacity:0.5;
border-radius:20px;
    -animation: preloader_4 1s infinite ease-in-out;
    -webkit-animation: preloader_4 1s infinite ease-in-out;
    -moz-animation: preloader_4 1s infinite ease-in-out;
 
}
#preloader_4 span:nth-child(2){
    left:20px;
    animation-delay: .2s;
}
#preloader_4 span:nth-child(3){
    left:40px;
    animation-delay: .4s;
}
#preloader_4 span:nth-child(4){
    left:60px;
    animation-delay: .6s;
}
#preloader_4 span:nth-child(5){
    left:80px;
    animation-delay: .8s;
}
@keyframes preloader_4 {
    0% {opacity: 0.3; transform:translateY(0px);    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
    50% {opacity: 1; transform: translateY(-10px); background:#f1c40f;  box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);}
    100%  {opacity: 0.3; transform:translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}

@-webkit-keyframes preloader_4 {
     0% {opacity: 0.3; transform:translateY(0px);    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
    50% {opacity: 1; transform: translateY(-10px); background:#f1c40f;  box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);}
    100%  {opacity: 0.3; transform:translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}

.form-margins {
    width: 60%;
    padding: 10px; 
    margin-top: 10px;
}

.input-group {
    margin-bottom: 10px; 
}

.icn {
    margin-top: 10px; 
}

.hidden {
    background-color: #EEE9E9;
}

.align-middle {
    text-align: center; 
}

.soon {
    font-family: 'Montserrat', sans-serif; 
    font-size: 4em; 
    text-align: center; 
    color: #404040;
}

.gif {
    text-align: center; 
    margin-top: 25px; 
}

.strings {
        background: url('../images/Basics.png') no-repeat center center;
        background-size: cover!important;
        }






