
header {
    background: url('../images/boston-blue.png');
    background-size: cover !important;
    /* position: relative; */
    background-position: center bottom!important;
    background-repeat: no-repeat!important;
}

header {
   height: 500px;
}

@media only screen and (min-width: 1200px) {
    header.hp {
        min-height: 820px;
    }
}

@media only screen and (min-width: 992px) {
    header.hp {
        min-height: 670px;
    }
}

@media only screen and (min-width: 768px) {
    header.hp {
        min-height: 450px;
    }
}

@media only screen and (min-width: 480px) {
    header.hp {
        min-height: 354px;
    }
}

header.hp {
    background: url('../images/boston-blue.png');
    position: relative;
}

@media only screen and (min-width: 1200px) {
    header {
        min-height: 422px;
    }
}

@media only screen and (min-width: 992px) {
    header {
        min-height: 422px;
    }
}


@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 480px) {
    header {
        min-height: 300px;
    }
}



